{% extends 'rates/base_rates.html' %}

{% load static %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static '/rates/js/add_rate.css' %}">
{% endblock %}

{% block scripts %}
  {{ block.super }}
{#  <script defer src="{% static '/rates/js/react.bundle.js' %}"></script>#}
  <script defer src="{% static '/rates/js/add_rate.bundle.js' %}"></script>
{% endblock %}

{% block content-inner %}

  <div id="root"></div>

  {{ genreOptions|json_script:'genreOptions' }}
  {{ unionOptions|json_script:'unionOptions' }}
  {{ apiUrls|json_script:'apiUrls'}}

{% endblock %}