{% extends 'rates/base_global.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'rates/css/rates.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script defer src="{% static 'rates/js/react.bundle.js' %}"></script>
    <script defer src="{% static 'rates/js/common.bundle.js' %}"></script>
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar fixed-top navbar-light bg-light ps-3">
        <span class="navbar-brand">
            <a class="no-underline" href="/">
            <img src="{% static 'rates/img/cr_square_logo.svg' %}"
               width='40'
               height='40'
               class="d-inline-block align-top"
               alt="">
            </a>
            <a href="/" class="no-underline d-none d-sm-inline px-sm-3">
                <img src="{% static 'rates/img/cr_text_logo.svg' %}"
                     height="25"
                     class="d-inline-block align-middle"
                     alt="crewrates">
            </a>
        </span>

            {% url 'discover' as url %}
            <a class="nav-link {% if request.path == url %} active {% endif %}" href="/">Discover</a>
            {% url 'add-rate' as url %}
            <a class="nav-link {% if request.path == url %} active {% endif %}" href="/add-rate">Add a rate</a>

            {% url 'account_email' as email %}
            {% url 'account_change_password' as passwd %}
            {% url 'account_set_password' as paset %}
            {% url 'socialaccount_connections' as social %}
            {% url 'settings' as settings %}

            <div class="nav-item dropdown ms-auto">
                <a class="nav-link pe-3
          {%if request.path == email or request.path == passwd or request.path == paset or request.path == social or request.path == settings%}
          active {% endif %}" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Account</a>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="/accounts/email">Email</a></li>
                    <li><a class="dropdown-item" href="/accounts/password/change">Password</a></li>
                    <li><a class="dropdown-item" href="/accounts/social/connections">Social accounts</a></li>
                    <li><a class="dropdown-item" href="/settings">Settings</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><form method="post" action="{% url 'account_logout' %}" class="dropdown-item px-3">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                   name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}">
                        {% endif %}
                        <button type="submit"
                                name="{{ redirect_field_name }}"
                                value="{{ redirect_field_value }}"
                                class="btn ps-0 pe-0 my-n1 btn-block text-left">Sign out
                        </button>
                    </form></li>
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="container-fluid py-sm-3 px-0" id="content-background">
        <div class="container p-3" id="content-inner">
            {% include 'account/message_list.html' %}
            {% block content-inner %}
            {% endblock %}
        </div>
    </div>
{% endblock %}