<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=cover">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Crew Rates">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="theme-color" content="ffffff">

    <link rel="apple-touch-icon" sizes="180x180"
          href="{% static 'rates/img/touch-icon-iphone-retina.png' %}"
          type="image/png">
    <link rel="manifest" href="{% static 'rates/js/manifest.json' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'rates/img/favicon.ico' %}"/>

    <!--  CSS Links-->
    {% block styles %}
      <link rel="stylesheet" href="{% static 'rates/css/base.css' %}">
      <link rel="stylesheet" href="{% static 'rates/js/entry_bootstrap.css' %}">
    {% endblock %}


    <!-- Javascript Links-->
    {% block scripts %}
      <script defer src="{% static 'rates/js/entry_bootstrap.bundle.js' %}"></script>
      <script defer src="{% static 'rates/js/bootstrap.bundle.js' %}"></script>
    {% endblock %}

    {% block title %}
        <title>Crew Rates</title>
    {% endblock %}

</head>
<body>

{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

<!--Footer-->
<footer class="text-start">
    <small class="ms-3">&copy; {% now "Y" %} crewrates.org</small>
</footer>

</body>

</html>