{% extends 'rates/base_global.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'rates/css/contact.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar fixed-top navbar-light bg-light ps-3">
            <span class="navbar-brand">
                <a class="no-underline" href="/">
                <img src="{% static 'rates/img/cr_square_logo.svg' %}"
                   width='40'
                   height='40'
                   class="d-inline-block align-top"
                   alt="">
                </a>
                <a href="/" class="no-underline d-none d-sm-inline px-sm-3">
                <img src="{% static 'rates/img/cr_text_logo.svg' %}"
                     height="25"
                     class="d-inline-block align-middle"
                     alt="crewrates">
                </a>
            </span>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="container-fluid py-3 px-0" id="content-background">
        <div class="container p-3" id="content-inner">
            {% block content-inner %}
            {% endblock %}
        </div>
    </div>
{% endblock %}