{% extends 'rates/base_rates.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content-inner %}
  <h2>Discover</h2>

    <form class="form-block">

    <div class="input-group">
      <input class="form-control block" type="search"
             placeholder="Search for shows, companies, job titles" aria-label="Search">
      <div class="input-group-append">
            <button class="btn btn-dark px-4" type="submit">Go</button>
      </div>
    </div>

    <div class="scroll-box mt-4">
    <h3>Recent rate reports</h3>

      <div class="card mt-2">
        <div class="card-body p-3">

          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">Project Funway</h5>
            <div class="ms-auto">
              <span class="badge bg-primary me-2">+17%</span>
            </div>
            <h5 class="m-0">$775/10</h5>
          </div>

          <div class="d-flex">
            <div class="me-auto">
              <span>
              Season 26
              </span>
              <span class="badge bg-dark ms-2">
                IATSE
              </span>
            </div>
            <div class="ms-auto">
              <span class="">$70.45/hr</span>
            </div>
          </div>

          <div class="d-flex">
              <span class="me-3">
                Magical Elves
              </span>
              <span>
                Bravo
              </span>
            <div class="ms-auto">
              <span>Camera Operator</span>
            </div>
          </div>

        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body p-3">
            <div class="d-flex mb-0 p-0">
            <h5 class="m-0">Real Housewives of West Hollywood</h5>
            <div class="ms-auto">
            </div>
            <h5 class="m-0">$650/12</h5>
          </div>

          <div class="d-flex">
            <div class="me-auto">
              <span>
              Season 26
              </span>
              <span class="badge bg-dark ms-2">
                Non-Union
              </span>
            </div>
            <div class="ms-auto">
              <span class="">$46.42/hr</span>
            </div>
          </div>

          <div class="d-flex">
              <span class="me-3">
                Evolution Media
              </span>
              <span>
                Bravo
              </span>
            <div class="ms-auto">
              <span>Camera Operator</span>
            </div>
          </div>

        </div>
      </div>



      <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">So You Think You Can Dance</h5>
            <div class="ms-auto">
            </div>
            <h5 class="m-0">$750/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 16</span>
            <div class="ms-auto"><span>$68.18/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                Fremantle Media
              </span>
              <span>
                ABC
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">Wipeout</h5>
            <div class="ms-auto">
              <span class="badge bg-primary me-2">+8%</span>
            </div>
            <h5 class="m-0">$700/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 2</span>
            <div class="ms-auto"><span>$63.64/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                EndemolShine NorthAmerica
              </span>
              <span>
                TBS
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">Project Runway</h5>
            <div class="ms-auto">
              <span class="badge bg-primary me-2">+17%</span>
            </div>
            <h5 class="m-0">$775/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 26</span>
            <div class="ms-auto"><span>$70.45/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                Magical Elves
              </span>
              <span>
                Bravo
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>



      <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">So You Think You Can Dance</h5>
            <div class="ms-auto">
            </div>
            <h5 class="m-0">$750/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 16</span>
            <div class="ms-auto"><span>$68.18/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                Fremantle Media
              </span>
              <span>
                ABC
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">Wipeout</h5>
            <div class="ms-auto">
              <span class="badge bg-primary me-2">+8%</span>
            </div>
            <h5 class="m-0">$700/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 2</span>
            <div class="ms-auto"><span>$63.64/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                EndemolShine NorthAmerica
              </span>
              <span>
                TBS
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>

            <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">Project Runway</h5>
            <div class="ms-auto">
              <span class="badge bg-primary me-2">+17%</span>
            </div>
            <h5 class="m-0">$775/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 26</span>
            <div class="ms-auto"><span>$70.45/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                Magical Elves
              </span>
              <span>
                Bravo
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>



      <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">So You Think You Can Dance</h5>
            <div class="ms-auto">
            </div>
            <h5 class="m-0">$750/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 16</span>
            <div class="ms-auto"><span>$68.18/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                Fremantle Media
              </span>
              <span>
                ABC
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body p-3">
          <div class="d-flex mb-0 p-0">
            <h5 class="m-0">Wipeout</h5>
            <div class="ms-auto">
              <span class="badge bg-primary me-2">+8%</span>
            </div>
            <h5 class="m-0">$700/10</h5>
          </div>
          <div class="d-flex">
            <span>Season 2</span>
            <div class="ms-auto"><span>$63.64/hr</span></div>
          </div>
          <div class="d-flex">
              <span class="me-3">
                EndemolShine NorthAmerica
              </span>
              <span>
                TBS
              </span>
            <div class="ms-auto"><span>Camera Operator</span></div>
          </div>
        </div>
      </div>

    </div>




  </form>

{% endblock %}