{% extends 'rates/base_rates.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'rates/js/discover.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script defer src="{% static 'rates/js/discover.bundle.js' %}"></script>
{% endblock %}

{% block content-inner %}

    <div id="root"></div>

    {{ genre|json_script:'genre' }}
    {{ unionStatus|json_script:'unionStatus' }}
    {{ apiUrls|json_script:'apiUrls'}}

{% endblock %}