{% extends 'rates/base_contact.html' %}

{% load static %}

{% block content-inner %}
    <div class="pb-3">
        <p>Crew Rates is an invitation-only rate-sharing app for crew members on TV productions.
            Here's some of the things members can do:</p>
    <h2>Negotiate better rates using crowdsourced rate information</h2>
    </div>

    <div class="row pb-3">
        <div class="col-7 col-sm-6">
            <img src="{% static 'rates/img/feed.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-5 col-sm-6 mt-3">
            <p>View a feed of rates for recent productions.</p>
            <br/>
            <br/>
            <br/>
            <br/>
            <p class="mt-4">A blue badge next to a rate indicates a negotiating win, with the
                percentage increase between the offered rate and final negotiated rate.</p>
        </div>
    </div>

    <hr>

    <div class="row pb-3">
        <div class="col-5 col-sm-6 mt-3">
            Search for rates by show, company, network, job title, union status or genre.
        </div>
        <div class="col-7 col-sm-6">
            <img src="{% static 'rates/img/company.png' %}" class="img-fluid" alt="">
        </div>
    </div>

    <hr>

    <div class="row pb-3">
        <div class="col-7 col-sm-6">
            <img src="{% static 'rates/img/summary.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-5 col-sm-6 mt-3">
            When you filter by job title, you can view a rate summary chart.
            Drill down by filtering by date, union status, and genre.
        </div>
    </div>

    <hr>

    <h2>Give back to the community</h2>
    <div class="row">
        <div class="col-5 col-sm-6 mt-3">
            Use the Add a Rate form to anonymously share your own rates and help everyone negotiate
            better deals.
        </div>
        <div class="col-7 col-sm-6">
            <img src="{% static 'rates/img/addrate_01.png' %}" class="img-fluid" alt="">
        </div>
    </div>

    <hr>

    <div class="row pb-3">
        <div class="col-7 col-sm-6">
            <img src="{% static 'rates/img/addrate_02.png' %}" class="img-fluid" alt="">
        </div>
        <div class="col-5 col-sm-6 mt-3">
            Add more details in order to share your negotiating wins with the community.
        </div>
    </div>

    <hr>

    <h4>How to sign up</h4>
    <p><a href="/contact">Contact us</a> to request an invitation.</p>

    <h4>How we use your data</h4>
    <p>In order to enable you to log in to the website and to communicate with you about your
        account, we collect and store your name and email address.</p>
    <p>Any rate information you submit can be viewed by other users in an anonymous, aggregated
        format.</p>
    <p>Once you've established your account, you can delete it at any time, which will permanently
        delete your personal information from our servers. Any anonymous rate information you may
        have submitted will be retained, but will not have any link to your identity.</p>
    <p>Please read our <a href="/tos">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>
        for more information.</p>

{% endblock %}