{% extends 'rates/base_contact.html' %}

{#{% load static %}#}
{##}
{#{% block styles %}#}
{#    {{ block.super }}#}
{#    <link rel="stylesheet" href="{% static 'rates/css/rates.css' %}">#}
{#{% endblock %}#}
{##}
{#{% block scripts %}#}
{#    {{ block.super }}#}
{#{% endblock %}#}
{##}
{#{% block title %}#}
{#    <title>Contact</title>#}
{#{% endblock %}#}

{% block content-inner %}
{#<div class="container-fluid p-3" id="content-background">#}
{#    <div class="container p-3" id="content-inner">#}

        <h1 class="display-1">Thanks!</h1>

        <h6 class="display-6">We've received your message and will be in contact soon.</h6>

        <p class="mt-3"><a href="/">Return to the site</a></p>

{#    </div>#}
{#</div>#}
{% endblock %}