<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@800&display=swap" rel="stylesheet">
{% load i18n %}

{% block content %}
  <div style="text-align: center;">
    <h1 style="font-family: 'Public Sans', Helvetica, Arial, sans-serif; font-size: 48px;
        font-weight: bold">
      crew rates</h1>
  </div>

  <div style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;">
    {% autoescape off %}
      <p>Hello {% if preferred_name %}{{ preferred_name }}{% else %}{{ first_name }}{% endif %},
          <br/><br/>
        {% if inviter.preferred_name %}
            {{ inviter.preferred_name }}
        {% else %}
            {{ inviter.first_name }}
        {% endif %} {% if inviter.last_name %}{{ inviter.last_name }}{% endif %} has invited you
          to join Crew Rates!<br/><br/>
          Crew Rates helps you negotiate better deals using crowdsourced rate information, and
          allows you to give back to the community by anonymously sharing your own rates.<br/><br/>
        If you'd like to join, please click the button below to create an account.
      </p>

      <div style="text-align: center;">
        <table style="border-spacing: 0; border-collapse: collapse; margin: auto;">
          <tr>
            <td style="border-radius: 2px;
              text-align: center;
              vertical-align: center;
              background-color: #1b1b1b;
              padding: 0;">
              <a href="{{ invite_url }}"
                 style="padding: 8px 12px; border: 1px solid #1b1b1b; border-radius: 3px;
               font-family: Helvetica, Arial, sans-serif;font-size: 14px;
               color: #ffffff;text-decoration: none;font-weight:bold;display: block;">
                Create account
              </a>
            </td>
          </tr>
        </table>
      </div>

    {% endautoescape %}
    <p>Thanks for using crewrates.org!</p>
  </div>

{% endblock %}
</html>