<!DOCTYPE html>
<html lang="en">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@800&display=swap" rel="stylesheet">
{% load i18n %}

{% block content %}
  <div style="text-align: center;">
    <h1 style="font-family: 'Public Sans', Helvetica, Arial, sans-serif; font-size: 48px;
        font-weight: bold">
      crew rates</h1>
  </div>

  <div style="font-family: Helvetica, Arial, sans-serif; font-size: 14px;">
    {% autoescape off %}
      <p>{% blocktrans %}Hello {{ name }},<br/><br/>
        You've been invited to join crewrates.org!<br/><br/>
        Crew Rates can help you negotiate better deals by giving you access to crowdsourced rate information for recent shows. You can also give back to the project by anonymously sharing your own rates.<br/><br/>
        If you'd like to join, please click the button below to create an account.
      {% endblocktrans %}</p>

      <div style="text-align: center;">
        <table style="border-spacing: 0; border-collapse: collapse; margin: auto;">
          <tr>
            <td style="border-radius: 2px;
              text-align: center;
              vertical-align: center;
              background-color: #1b1b1b;
              padding: 0;">
              <a href="{{ invite_url }}"
                 style="padding: 8px 12px; border: 1px solid #1b1b1b; border-radius: 3px;
               font-family: Helvetica, Arial, sans-serif;font-size: 14px;
               color: #ffffff;text-decoration: none;font-weight:bold;display: block;">
                Create account
              </a>
            </td>
          </tr>
        </table>
      </div>

    {% endautoescape %}
    <p>Thanks for using crewrates.org!</p>
  </div>

{% endblock %}
</html>