commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql13
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_node_install:
        command: |
            curl -sL https://rpm.nodesource.com/setup_16.x | sudo bash -
            yum install -y nodejs

container_commands:
    01_npm_install_dependencies:
        command: "npm install"
    02_npm_build_packages:
        command: "npm run build"
    03_django_collectstatic:
        command: "source $PYTHONPATH/activate && python manage.py collectstatic --noinput"
    04_django_migrate:
        command: "source $PYTHONPATH/activate && python manage.py migrate --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: crew_rates.wsgi:application

packages:
    yum:
        amazon-linux-extras: []