.header-wrapper {
    padding-top: 66px;
}

.discover-nav-row {
    margin-right: 0;
    margin-left: 0;
}

.form-select {
    -webkit-appearance: none;
}

.option-container {
    display: flex;
    justify-content: space-between;
}