{% extends 'rates/base_global.html' %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'rates/css/rates.css' %}">
{% endblock %}

{% block header %}
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand ms-2">
                <img src="{% static 'rates/img/cr_square_logo.svg' %}"
                   width='40'
                   height='40'
                   class="d-inline-block align-top"
                   alt="">
                <img src="{% static 'rates/img/cr_text_logo.svg' %}"
                  height="25"
                  class="d-inline-block align-center ms-2"
                  alt="crewrates">
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                {% url 'index' as url %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %} active {% endif %}"
                       href="/">Discover</a>
                </li>
                {% url 'add-rate' as url %}
                <li class="nav-item">
                    <a class="nav-link {% if request.path == url %} active {% endif %}"
                       href="/add-rate">Add a rate</a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="#">Contribute</a>#}
{#                </li>#}
            </ul>
            <ul class="navbar-nav">
                {% url 'account_email' as email %}
                {% url 'account_change_password' as passwd %}
                {% url 'account_set_password' as paset %}
                {% url 'socialaccount_connections' as social %}
                <li class="nav-item dropdown">
                  <a class="nav-link
                    {%if request.path == email or request.path == passwd or request.path == paset or request.path == social%}
                    active {% endif %}" href="#" id="navbarDropdownMenuLink"
                    role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                  </a>
                  <div class="dropdown-menu dropdown-menu-end"
                       aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/accounts/email">Email</a>
                    <a class="dropdown-item" href="/accounts/password/change">Password</a>
                    <a class="dropdown-item" href="/accounts/social/connections">Social accounts</a>
                    <a class="dropdown-item" href="#">Settings</a>
                    <div class="dropdown-divider"></div>
                    <form method="post" action="{% url 'account_logout' %}" class="dropdown-item px-3">
                      {% csrf_token %}
                      {% if redirect_field_value %}
                        <input type="hidden"
                               name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}">
                      {% endif %}
                      <button type="submit"
                              name="{{ redirect_field_name }}"
                              value="{{ redirect_field_value }}"
                              class="btn ps-0 pe-0 my-n1 btn-block text-left">Sign out
                      </button>
                    </form>
                  </div>
                </li>
            </ul>
        </div>
        </div>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="container-fluid p-3" id="content-background">
        <div class="container p-3" id="content-inner">
            {% block content-inner %}
            {% endblock %}
        </div>
    </div>
{% endblock %}