{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
    <title>Sign in</title>
{% endblock %}

{% block form-accounts %}

    {% include 'account/logo.html' %}
    {% include 'account/message_list.html' %}

    <p>To continue, sign in using your social account or email:</p>

    <div class="text-center mb-4">
        {% include 'account/provider_list.html' with function="Sign in" process="login" %}
    </div>

    <div class="mb-2">
        <hr class="or">
    </div>

    <div>
        <form novalidate class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}

            {% for error in form.non_field_errors %}
                <small class="text-danger form-text">{{ error }}</small>
            {% endfor %}
            <div class="form-group text-start">
                <label class="form-label" for="id_login">Email</label>
                <input class="form-control" type="email" name="{{ form.login.name }}"
                       value="{% if form.login.value %} {{ form.login.value }} {% endif %}"
                       required id="id_login" autocomplete="email">
                {% for error in form.login.errors %}
                    <small class="text-danger form-text">{{ error }}</small>
                {% endfor %}
            </div>

            <div class="form-group text-start mt-2">
                <label class="form-label" for="id_password">Password</label>
                <input class="form-control" type="password"
                       name="{{ form.password.name }}"
                       required id="id_password"
                       autocomplete="current-password">
                {% for error in form.password.errors %}
                    <small class="text-danger form-text">{{ error }}</small>
                {% endfor %}
            </div>

            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}"/>
            {% endif %}

            <div class="mt-2">
                <a class="button secondaryAction" href="{% url 'account_reset_password' %}">
                    {% trans "Forgot Password?" %}
                </a>
            </div>

            <div class="form-group d-grid my-2">
                <button type="submit" class="btn btn-dark primaryAction">Sign in</button>
            </div>
        </form>
    </div>

    <p>If you'd like an account, please ask the administrator for an invitation.</p>


{% endblock %}
