{% extends "account/base.html" %}

{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form-accounts %}
    <div class="text-center mb-4">
      <img src="{% static 'rates/img/cr_square_logo.svg' %}" width=100 class="mb-3">
      <img src="{% static 'rates/img/cr_text_logo.svg' %}" width=200 class="mt-3">
    </div>

    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
{#                {{ form.as_p }}#}
                <div class="form-group text-left mt-3">
                  {{ form.password1.errors }}
                  <label class="form-label" for="id_password1">New password</label>
                  <input class="form-control" type="password" name="{{ form.password1.name }}"
{#                         placeholder="Password" #}
                         required id="id_password1" autocomplete="new-password">
                </div>

                <div class="form-group text-left mt-n2">
                  {{ form.password2.errors }}
                  <label class="form-label" for="id_password2">Re-type new password</label>
                  <input class="form-control" type="password" name="{{ form.password2.name }}"
{#                         placeholder="Re-type password" #}
                         required id="id_password2" autocomplete="new-password">
                </div>
{#                <input type="submit" name="action" value="{% trans 'change password' %}"/>#}
                <div class="form-group">
                  <button type="submit" class="btn btn-dark btn-block">{% trans 'Change Password' %}</button>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
