{% extends "rates/base_rates.html" %}

{% load i18n %}
{% load static %}

{% block styles %}
    {{ block.super }}
{#    <link rel="stylesheet" href="{% static 'rates/css/social.css' %}">#}
    <link rel="stylesheet" href="{% static 'rates/css/account-form.css' %}">
{#    <link rel="stylesheet" href="{% static 'rates/css/list-radios.css' %}">#}
{% endblock %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% include 'account/message_list.html' %}

{% block content %}
    <div class="form-accounts">
    <h2>{% trans "Set Password" %}</h2>
    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.non_field_errors }}
{#        {{ form.as_p }}#}

        <div class="form-group">
          {{ form.password1.errors }}
        <label class="form-label" for="id_password1">Password</label>
        <input class="form-control" type="password"
               name="{{ form.password1.name }}"
{#               placeholder="Password" #}
               required id="id_password1"
               value="{{ form.password1.value }}"
               autocomplete="new-password">
        </div>


        <div class="form-group">
          {{ form.password2.errors }}
        <label class="form-label" for="id_password2">Re-type password</label>
        <input class="form-control" type="password"
               name="{{ form.password2.name }}"
{#               placeholder="Re-type password" #}
               required id="id_password2"
               value="{{ form.password2.value }}"
               autocomplete="new-password">
        </div>
{#      <button type="submit" name="action" value="{% trans 'Set Password' %}"/>#}
      <button class="btn btn-dark" type="submit" name="action">Set password</button>
    </form>
    </div>
{% endblock %}
