{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block form-accounts %}

  {% include 'account/logo.html' %}

  <h1>{% if token_fail %}
        {% trans "Bad Token" %}
      {% else %}
        {% trans "Change Password" %}
      {% endif %}</h1>

  {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
  {% else %}
      {% if form %}
          <form novalidate method="POST" action="{{ action_url }}">
              {% csrf_token %}

              {% for error in form.non_field_errors %}
                  <small class="text-danger form-text">{{ error }}</small><br/>
              {% endfor %}

              <div class="form-group text-start mt-3">
                <label class="form-label" for="id_password1">New password</label>
                <input class="form-control" type="password" name="{{ form.password1.name }}"
                       required id="id_password1" autocomplete="new-password">
                  {% for error in form.password1.errors %}
                      <small class="text-danger form-text">{{ error }}</small><br/>
                  {% endfor %}
              </div>

              <div class="form-group text-start mt-2">
                <label class="form-label" for="id_password2">Re-type new password</label>
                <input class="form-control" type="password" name="{{ form.password2.name }}"
                       required id="id_password2" autocomplete="new-password">
                  {% for error in form.password2.errors %}
                      <small class="text-danger form-text">{{ error }}</small><br/>
                  {% endfor %}
              </div>
              <div class="form-group d-grid mt-3">
                <button type="submit" class="btn btn-dark btn-block">{% trans 'Change Password' %}
                </button>
              </div>
          </form>
      {% else %}
          <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
  {% endif %}
{% endblock %}
