{% extends "account/base.html" %}

{% load i18n %}

{% block title %}
    <title>Signup</title>
{% endblock %}


{% block form-accounts %}

    {% include 'account/logo.html' %}
    <p>Thanks for accepting your invitation!</p>

    <div class="text-center mb-5">
        {% include 'account/provider_list.html' with function="Sign up" process="login"%}
    </div>
    <div class="my-4">
        <hr class="or">
    </div>

    <div>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group text-start">
          {{ form.email.errors }}
        <label class="form-label" for="id_email">Email</label>
        <input class="form-control" type="email" name="{{ form.email.name }}"
               value="{% if form.email.value %} {{ form.email.value }} {% endif %}"
               required id="id_email" autocomplete="email" readonly>
        </div>

        <div class="form-group text-start mt-2">
          {{ form.password1.errors }}
        <label class="form-label" for="id_password1">Password</label>
        <input class="form-control" type="password" name="{{ form.password1.name }}"
               required id="id_password1" autocomplete="new-password">
        </div>

        <div class="form-group text-start mt-2">
          {{ form.password2.errors }}
        <label class="form-label" for="id_password2">Re-type password</label>
        <input class="form-control" type="password" name="{{ form.password2.name }}"
               required id="id_password2" autocomplete="new-password">
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <div class="form-group d-grid mt-3">
          <button type="submit" class="btn btn-dark btn-block">Sign up with email</button>
        </div>

    </form>
    </div>

{% endblock %}
