{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block form-accounts %}
  {% include 'account/logo.html' %}
  <h3>{% trans "Sorry, access is by invitation only" %}</h3>
  {% include 'account/message_list.html' %}

    <div class="mt-5">{% trans "If you'd like to sign up, please ask the administrator for an invitation." %}</div>
    <div class="mt-5">{% trans "If you've already signed up, you may have reached this page by trying to sign in using a social account you haven't connected yet. You can connect a new social account by signing in and going to the Social Accounts page under the Account menu." %}</div>
{% endblock %}
