body {
    padding-top: 40px;
    padding-bottom:40px;
    /*background-color: #e8e8e8;*/
}

.social-logo {
    margin: 0 10px 0 10px;
}

.bs-social-btn {
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    padding-top: 2px;
    padding-bottom: 2px;
    /*padding-left: 10px;*/
    padding-left: 5%;
    margin-top: 10px;
    /*width: 250px;*/
    width: 100%;
}

.form-accounts {
    border-radius: 10px;
    width: 100%;
    max-width: 420px;
    /*padding-left: 15%;*/
    /*padding-right: 15%;*/
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
    margin: auto;
    /*background-color: white;*/
    text-align: center;
}

.email-signup {
    text-align: left;
}

hr {
    /*margin-top: 1.5rem;*/
    /*margin-bottom: 1.5rem;*/
    text-align: center;
    width: 70%
}

.or:after {
    background: #fff;
    content: 'OR';
    padding: 0 4px;
    position: relative;
    top: -13px;
}