a.no-underline,
a.no-underline:visited,
a.no-underline:focus {
    text-decoration: none;
}

.nav-link {
    color: rgba(0, 0, 0, .55)!important;
}

.nav-link:focus {
    color: rgba(0, 0, 0, .7)!important;
}

.nav-link:hover {
    color: rgba(0, 0, 0, .7)!important;
}

.nav-link.disabled {
    color: rgba(0, 0, 0, .3)!important;
}

.show > .nav-link,
.nav-link.active {
    color: rgba(0, 0, 0, 1)!important;
}
