body {
    padding-top: 65px;
}

#content-background {
    background-color: white;
}

#content-inner {
    max-width: 680px;
    width: 100%;
    min-height: 600px;
    background-color: white;
}

ul {
    list-style-type: none;
}

.grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    left: 4px !important;
}

.grecaptcha-badge:hover {
    width: 256px !important;
}