.list-group-item {
  user-select: none;
}

.list-group input[type="radio"] {
  display: none;
  /*position: fixed;*/
  /*opacity: 0;*/
  /*pointer-events: none;*/
}

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer;
  border-radius: 0;
}

.list-group input[type="radio"] + .list-group-item:before {
  content: "\2713";
  color: transparent;
  font-weight: bold;
  margin-right: .5em;
}

.list-group input[type="radio"]:checked + .list-group-item {
  /*background-color: #0275D8;*/
  /*background-color: #888;*/
  /*color: #FFF;*/
  border-color: #1b1b1b;
}

.list-group input[type="radio"]:checked + .list-group-item:before {
  color: inherit;
}

/*.email-display {*/
/*  background-color: white !important;*/
/*}*/

/*.email-display:focus {*/
/*  outline-style: none;*/
/*  box-shadow: none;*/
/*  border-color: #ced4da;*/
/*}*/