body {
    padding-top: 65px;
}

#content-background {
    background-color: #e8e8e8;
}

#content-inner {
    max-width: 680px;
    min-height: 700px;
    background-color: white;
}

@media (max-width: 768px) {
    #content-inner {
        width: 100%;
    }
}

.inline {
  display: inline;
}

.link-button {
  background: none;
  border: none;
  text-decoration: underline;
}